.divApuesta{
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2% 0;
}

.divFormApuesta{
	/*background-color: blue;*/
	background-color: rgba(140, 120, 120, 0.4);
	width: 40%;
	margin: 2% auto;
	padding: 2%;
	border-radius: 10px;
	box-shadow: 3px 3px 6px 4px #1C1C1C;
	display: grid;
	grid-template-columns: 5fr 60px 1fr 60px 5fr;
	grid-template-rows: auto;
	grid-template-areas:
		"nomAbrev_1 bandera_1 div_vs bandera_2 nomAbrev_2"
		"divInputApuesta_1 divInputApuesta_1 div_vs divInputApuesta_2 divInputApuesta_2";
	row-gap: 10px;
}

.divFormApuesta div{
	border-color: #202020;
	text-align: center;
	padding: 2% 1%;
}

.divBandera img	{
	width: 50px;
}

.divAbreviatura{
	display: none;
}

.divBandera, .divInputApuesta, .divResultado, .divNombre{
	display: flex;
	justify-content: center;
	align-items: center;
}

.divFormApuesta .divInputApuesta{
	padding: 2% 0;
}

.divInputApuesta input{
	padding: 1%;
	max-width: 50px;
	text-align: center;
}

.nomAbrev_1{
	grid-area: nomAbrev_1;
	justify-content: flex-end;
}

.bandera_1{
	grid-area: bandera_1;
}

.div_vs{
	grid-area: div_vs;
}

.bandera_2{
	grid-area: bandera_2;
}

.nomAbrev_2{
	grid-area: nomAbrev_2;
	justify-content: flex-start;
}

.divInputApuesta_1{
	grid-area: divInputApuesta_1;
	justify-content: flex-end;
}

.divInputApuesta_2{
	grid-area: divInputApuesta_2;
	justify-content: flex-start;
}

.contdown{
	margin: 2% 0;
}

.button{
	margin: 1%;
	width: 10%;
	padding: 0.5% 1%;
}

@media(max-width: 1150px){
	.divFormApuesta{
		width: 70%;
		row-gap: 10px;
	}
}

@media(max-width: 750px){
	.divFormApuesta{
		width: 80%;
		margin: 2% auto;
		padding: 2%;
		row-gap: 10px;
	}
	.button{
		margin: 1.5%;
		width: 15%;
		padding: 1%;
	}
}

@media(max-width: 550px){
	.button{
		margin: 2%;
		width: 20%;
		padding: 1.5% 1%;
	}
}