:root {
	--main-color: #143CBD;
	--second-color: #F2F3F4;
	--third-color: #000D40;
	--main-text-color: #EEEEE4;
	--second-text-color: #1C1C1C;
	--third-text-color: #EEEEE4;
	
/*	--menu-color: #143CBD;*/
/*	--menu-text-color: #EEEEE4;*/
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--second-color);
	color: var(--second-text-color);
/*	background-color: #143CBD;*/
/*	background-color: #BFC9CA;*/
/*	background-color: #F2F3F4;*/
/*	background-color: #3498DB;*/
/*	color: #EEEEE4;*/
/*	color: #BFC9CA;*/
}

body,html{
	height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.error{
	color: #DE0006;
}

.succes{
	color: #26DE00;
}

.button{
	background-color: rgba(215,215,215,1);
	position: relative;
	text-align: center;
	border: solid 1px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #2e2e2e;
	padding: 2% 1%;
	font-size: 0.9em;
	font-weight: bold;
	cursor: pointer;
}

.button:hover{
	background-color: rgba(150,150,150,0.5);
}

.button:active{
	top: 2px;
	box-shadow: rgb(88, 88, 88) 0px 0px 0px 0px;
}

@media(max-width: 860px){
	.button{
		font-size: 0.7em;
	}
}

@media(max-width: 500px){
	.button{
		font-size: 0.6em;
	}
}

@media(max-width: 300px){
	.button{
		font-size: 0.5em;
	}
}