.contenedorFormRegistrarse{
	width: 45%;
	margin: auto;
}

.contenedorFormRegistrarse h1{
	text-align: center;
	margin: 2% 0 2%;
	font-size: 36px;
}

.contenedorFormRegistrarse p{
	font-size: 18px;
/*	text-align: center;*/
margin: 1% 1% 2%;
}

.formRegistrarse{	
	background-color: var(--third-color);
	width: 100%;
	color: var(--third-text-color);
	padding: 2% 3% 1%;
	border-radius: 15px;
/*	width: 50%;*/
/*	margin: auto;*/
}

/*.formRegistrarse h1{
	text-align: center;
	margin: 1% 0 2%;
}*/

.formRegistrarse label{
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 1.5%;
}

.formRegistrarse input{
	width: 100%;
	height: 2.2em;
	padding: 1%;
	margin: 1% 0;
	border: solid;
	border-width: 2px;
	border-radius: 5px;
}

.button{
	width: 50%;
	padding: 1%;
	margin: 1% 25%;
}

.formRegistrarse p{
	text-align: center;
	margin: 1%;
	font-size: 1.05em;
}

.formRegistrarse a {
	color: var(--third-text-color);
}

.formRegistrarse a:hover{
	color: var(--main-color);
}

@media(max-width:1300px){
	.contenedorFormRegistrarse{
		width: 50%;
	}
}

@media(max-width:900px){
	.contenedorFormRegistrarse h1{
		font-size: 1.9em;
		margin: 2% 0 5%;
	}
	.contenedorFormRegistrarse{
		width: 55%;
	}
}

@media(max-width:900px){
	.contenedorFormRegistrarse{
		width: 60%;
	}
	.button{
		font-size: 1em
	}
}

@media(max-width:750px){
	.button{
		font-size: 1em
	}
}

@media(max-width:600px){
	.contenedorFormRegistrarse{
		width: 70%;
	}
	.formRegistrarse label{
		font-size: 1.1em;
	}
	.formRegistrarse input{
		height: 2em;
		margin: 1% 0;
	}
	.button{
		font-size: 1em;
		padding: 2% 1%;
	}
	.formRegistrarse p{
		font-size: 1em;
	}
}