<div class="divApuesta">
	<h3>Guardar Resultado</h3>
	<div class="divFormApuesta">
		<div id="div_pais_1" class="divNombre nomAbrev_1"></div>
		<div id="div_abreviatura_1" class="divAbreviatura nomAbrev_1"></div>
		<div class="divBandera">
			<img id="bandera_1"/>
		</div>
		<div class="div_vs">VS</div>
		<div class="divBandera">
			<img id="bandera_2"/>
		</div>
		<div id="div_abreviatura_2" class="divAbreviatura nomAbrev_2"></div>
		<div id="div_pais_2" class="divNombre nomAbrev_2"></div>
		<div class="divInputApuesta_1 divInputApuesta">
			<input id="inputResultado_1" type="number" min="0" step="1">
		</div>
		<div class="divInputApuesta_2 divInputApuesta">
			<input id="inputResultado_2" type="number" min="0" step="1">
		</div>
	</div>
	<button id="bttnGuardarResultado" class="button">Guardar Resultado</button>
</div>