	<div class="formRegistrarse">
		<h1>Cambiar contraseña</h1>
		<form>
			<label for="currentPassword">Contraseña actual:</label><br>
			<input type="password" id="currentPassword" name="currentPassword"><br>

			<label for="newPassword">Nueva Contraseña:</label><br>
			<input type="password" id="newPassword" name="newPassword"><br>

			<label for="confirmPassword">Confirmar nueva contraseña:</label><br>
			<input type="password" id="confirmPassword" name="confirmPassword"><br>

			<br>
			<input type="submit" class="button" value="Cambiar contraseña">
		</form>
	</div>