	<div class="formRegistrarse">
		<h1>Registrarse</h1>
		<form method="post" id="formRegistrarse">
			<label for="inputEmail">Correo electrónico</label> <br>
			<input type="email" name="inputEmail" id="inputEmail"> <br>
			<label id="inputEmail-error" class="error" for="inputEmail"></label><br> 

			<label for="inputNombre">Nombre de usuario</label> <br>
			<input type="text" name="inputNombre" id="inputNombre"> <br>
			<label id="inputNombre-error" class="error" for="inputNombre"></label><br>

			<label for="inputPassword">Contraseña</label> <br>
			<input type="password" name="inputPassword" id="inputPassword"> <br>
			<label id="inputPassword-error" class="error" for="inputPassword"></label><br>

			<label for="inputPassword2">Repite la contraseña</label> <br>
			<input type="password" name="inputPassword2" id="inputPassword2"><br>
			<label id="inputPassword2-error" class="error" for="inputPassword2"></label><br>

			<br>
			<button id="bttn-registrarse" class="button" type="submit" name="registrarse">Registrarse</button>
			<br>
		</form>
		<p>¿Ya tienes una cuenta? <br><a href="../index.php">Accede</a></p>
	</div>