<form class="inicioSesion" method="post" id="formInicioSesion">
	<h1>Iniciar Sesión</h1>
	<div class="div-contenedora-labelinput">
		<label for="inputEmail">Correo electrónico:</label>
		<input id="inputEmail" type="email" size="50" placeholder=" Correo electronico"/>
		<label id="inputEmail-error" class="error" for="inputEmail"></label>
	</div>
	<div class="div-contenedora-labelinput">
		<label for="inputPassword">Contraseña:</label>
		<input id="inputPassword" type="password" size="50" placeholder=" Contraseña"/>
		<label id="inputPassword-error" class="error" for="inputPassword"></label>
	</div>
	<label id="label-inicioIncorrecto" class="label-fallo-inicio error"></label>
	<button class="boton-iniciarsesion button" type="submit">Iniciar Sesión</button>
	<a href="controllers/registrarse.php">No tengo cuenta</a>
</form>
<script type="text/javascript">
	$("#menu").hide();
</script>